<html>
<head>
<title>welcome.blade.php</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #a9b7c6;}
.s3 { color: #a5c261;}
.s4 { color: #a9b7c6;}
.s5 { color: #a9b7c6;}
.s6 { color: #6a8759;}
.s7 { color: #cc7832;}
.s8 { color: #a9b7c6;}
.s9 { color: #808080;}
.s10 { color: #cc7832;}
.s11 { color: #6897bb;}
.s12 { color: #6a8759;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
welcome.blade.php</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s1">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s1">lang</span><span class="s3">=&quot;</span><span class="s4">{{ </span><span class="s5">str_replace</span><span class="s4">(</span><span class="s6">'_'</span><span class="s7">, </span><span class="s6">'-'</span><span class="s7">, </span><span class="s5">app</span><span class="s4">()-&gt;</span><span class="s5">getLocale</span><span class="s4">()) }}</span><span class="s3">&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;head&gt;</span>
        <span class="s0">&lt;meta </span><span class="s1">charset</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;meta </span><span class="s1">name</span><span class="s3">=&quot;viewport&quot; </span><span class="s1">content</span><span class="s3">=&quot;width=device-width, initial-scale=1&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;title&gt;</span><span class="s8">Laravel</span><span class="s0">&lt;/title&gt;</span>

        <span class="s9">&lt;!-- Fonts --&gt;</span>
        <span class="s0">&lt;link </span><span class="s1">href</span><span class="s3">=&quot;https://fonts.googleapis.com/css?family=Nunito:200,600&quot; </span><span class="s1">rel</span><span class="s3">=&quot;stylesheet&quot;</span><span class="s0">&gt;</span>

        <span class="s9">&lt;!-- Styles --&gt;</span>
        <span class="s0">&lt;style&gt;</span>
            <span class="s0">html</span><span class="s10">, </span><span class="s0">body </span><span class="s8">{</span>
                <span class="s1">background-color</span><span class="s8">: </span><span class="s11">#fff</span><span class="s10">;</span>
                <span class="s1">color</span><span class="s8">: </span><span class="s11">#636b6f</span><span class="s10">;</span>
                <span class="s1">font-family</span><span class="s8">: </span><span class="s12">'Nunito'</span><span class="s10">, </span><span class="s3">sans-serif</span><span class="s10">;</span>
                <span class="s1">font-weight</span><span class="s8">: </span><span class="s11">200</span><span class="s10">;</span>
                <span class="s1">height</span><span class="s8">: </span><span class="s11">100</span><span class="s3">vh</span><span class="s10">;</span>
                <span class="s1">margin</span><span class="s8">: </span><span class="s11">0</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">full-height </span><span class="s8">{</span>
                <span class="s1">height</span><span class="s8">: </span><span class="s11">100</span><span class="s3">vh</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">flex-center </span><span class="s8">{</span>
                <span class="s1">align-items</span><span class="s8">: </span><span class="s3">center</span><span class="s10">;</span>
                <span class="s1">display</span><span class="s8">: </span><span class="s3">flex</span><span class="s10">;</span>
                <span class="s1">justify-content</span><span class="s8">: </span><span class="s3">center</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">position-ref </span><span class="s8">{</span>
                <span class="s1">position</span><span class="s8">: </span><span class="s3">relative</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">top-right </span><span class="s8">{</span>
                <span class="s1">position</span><span class="s8">: </span><span class="s3">absolute</span><span class="s10">;</span>
                <span class="s1">right</span><span class="s8">: </span><span class="s11">10</span><span class="s3">px</span><span class="s10">;</span>
                <span class="s1">top</span><span class="s8">: </span><span class="s11">18</span><span class="s3">px</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">content </span><span class="s8">{</span>
                <span class="s1">text-align</span><span class="s8">: </span><span class="s3">center</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">title </span><span class="s8">{</span>
                <span class="s1">font-size</span><span class="s8">: </span><span class="s11">84</span><span class="s3">px</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">links </span><span class="s8">&gt; </span><span class="s0">a </span><span class="s8">{</span>
                <span class="s1">color</span><span class="s8">: </span><span class="s11">#636b6f</span><span class="s10">;</span>
                <span class="s1">padding</span><span class="s8">: </span><span class="s11">0 25</span><span class="s3">px</span><span class="s10">;</span>
                <span class="s1">font-size</span><span class="s8">: </span><span class="s11">13</span><span class="s3">px</span><span class="s10">;</span>
                <span class="s1">font-weight</span><span class="s8">: </span><span class="s11">600</span><span class="s10">;</span>
                <span class="s1">letter-spacing</span><span class="s8">: </span><span class="s11">.1</span><span class="s3">rem</span><span class="s10">;</span>
                <span class="s1">text-decoration</span><span class="s8">: </span><span class="s3">none</span><span class="s10">;</span>
                <span class="s1">text-transform</span><span class="s8">: </span><span class="s3">uppercase</span><span class="s10">;</span>
            <span class="s8">}</span>

            <span class="s8">.</span><span class="s0">m-b-md </span><span class="s8">{</span>
                <span class="s1">margin-bottom</span><span class="s8">: </span><span class="s11">30</span><span class="s3">px</span><span class="s10">;</span>
            <span class="s8">}</span>
        <span class="s0">&lt;/style&gt;</span>
    <span class="s0">&lt;/head&gt;</span>
    <span class="s0">&lt;body&gt;</span>
        <span class="s0">&lt;div </span><span class="s1">class</span><span class="s3">=&quot;flex-center position-ref full-height&quot;</span><span class="s0">&gt;</span>
            <span class="s7">@if (</span><span class="s5">Route</span><span class="s4">::</span><span class="s5">has</span><span class="s4">(</span><span class="s6">'login'</span><span class="s4">)</span><span class="s7">)</span>
                <span class="s0">&lt;div </span><span class="s1">class</span><span class="s3">=&quot;top-right links&quot;</span><span class="s0">&gt;</span>
                    <span class="s7">@auth</span>
                        <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;</span><span class="s4">{{ </span><span class="s5">url</span><span class="s4">(</span><span class="s6">'/home'</span><span class="s4">) }}</span><span class="s3">&quot;</span><span class="s0">&gt;</span><span class="s8">Home</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s7">@else</span>
                        <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;</span><span class="s4">{{ </span><span class="s5">route</span><span class="s4">(</span><span class="s6">'login'</span><span class="s4">) }}</span><span class="s3">&quot;</span><span class="s0">&gt;</span><span class="s8">Login</span><span class="s0">&lt;/a&gt;</span>

                        <span class="s7">@if (</span><span class="s5">Route</span><span class="s4">::</span><span class="s5">has</span><span class="s4">(</span><span class="s6">'register'</span><span class="s4">)</span><span class="s7">)</span>
                            <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;</span><span class="s4">{{ </span><span class="s5">route</span><span class="s4">(</span><span class="s6">'register'</span><span class="s4">) }}</span><span class="s3">&quot;</span><span class="s0">&gt;</span><span class="s8">Register</span><span class="s0">&lt;/a&gt;</span>
                        <span class="s7">@endif</span>
                    <span class="s7">@endauth</span>
                <span class="s0">&lt;/div&gt;</span>
            <span class="s7">@endif</span>

            <span class="s0">&lt;div </span><span class="s1">class</span><span class="s3">=&quot;content&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;div </span><span class="s1">class</span><span class="s3">=&quot;title m-b-md&quot;</span><span class="s0">&gt;</span>
                    <span class="s8">Laravel</span>
                <span class="s0">&lt;/div&gt;</span>

                <span class="s0">&lt;div </span><span class="s1">class</span><span class="s3">=&quot;links&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://laravel.com/docs&quot;</span><span class="s0">&gt;</span><span class="s8">Docs</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://laracasts.com&quot;</span><span class="s0">&gt;</span><span class="s8">Laracasts</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://laravel-news.com&quot;</span><span class="s0">&gt;</span><span class="s8">News</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://blog.laravel.com&quot;</span><span class="s0">&gt;</span><span class="s8">Blog</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://nova.laravel.com&quot;</span><span class="s0">&gt;</span><span class="s8">Nova</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://forge.laravel.com&quot;</span><span class="s0">&gt;</span><span class="s8">Forge</span><span class="s0">&lt;/a&gt;</span>
                    <span class="s0">&lt;a </span><span class="s1">href</span><span class="s3">=&quot;https://github.com/laravel/laravel&quot;</span><span class="s0">&gt;</span><span class="s8">GitHub</span><span class="s0">&lt;/a&gt;</span>
                <span class="s0">&lt;/div&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span>
</pre>
</body>
</html>